*{
    padding: 0;
    margin: 0;
}
.row-2{
display: flex;
flex: 1;
}
.flex-item{
    border: 1px solid red;
}

.row-3{
    display: flex;
    margin-top: 30px;
    
}
.row-3-item{
    border: 1px solid orange;
    flex-basis: 30%;
}

.bigger-div{
    flex-basis: 70%;
    
}
.row-4{
display: flex;
margin-top: 20px;
}
.row-4-item{
border:1px solid orangered;
flex: 1 0 0% ;
}
.row4-bigger{
flex-grow: 2;
}

.centercenter-div{
    width: 600px;
    height: 600px;
    border: 2px solid green;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 15px;
}
.innter-center{
width: 200px;
height: 200px;
text-align: center;
background: red;
color: #fff;

}








